[Desktop Entry]
Name=Labelyou
Comment=Image Polygonal Annotation with Python
Exec=labelyou
Icon=labelyou
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
